{% load static %}
<div id="testimonials" class="parallax section db parallax-off" style="background-image:url({% static 'images/parallax_04.jpg' %});">
        <div class="container">
            <div class="section-title text-center">
                <h3>프로젝트 팀원</h3>
                <p>5조 We're Here 팀을 소개합니다!</p>
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="testi-carousel owl-carousel owl-theme">
                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i>아직 프로젝트 한발 남았다...</h3>
                                <p class="lead">- (김민서, 33세) 아저씨 대사 中-</p>
                            </div>
                            <div class="testi-meta">
                                <img src="{% static 'images/testi_01.png' %}" alt="" class="img-fluid">
                                <h4>김민서</h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i>프로젝트를</h3>
                                <p class="lead">진행하며 협업의 중요성을 배웠습니다</p>
                            </div>
                            <div class="testi-meta">
                                <img src="{% static 'images/testi_02.png' %}" alt="" class="img-fluid">
                                <h4>김영주</h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i>난</h3>
                                <p class="lead">늘 배가 고프다</p>
                            </div>
                            <div class="testi-meta">
                                <img src="{% static 'images/testi_03.png' %}" alt="" class="img-fluid">
                                <h4>유수진</h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i>7월 7일</h3>
                                <p class="lead">블랙위도우 개봉일</p>
                            </div>
                            <div class="testi-meta">
                                <img src="{% static 'images/testi_04.png' %}" alt="" class="img-fluid">
                                <h4>한정탁</h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                    </div><!-- end carousel -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->