{% extends './include/base_c.html' %}
{% load static %}
{% block content %}

<main class="content">
	<div class="container-fluid p-0">

		<h1 class="h3 mb-3">계정설정</h1>

		<div class="row">
			<div class="col-md-3 col-xl-2">

				<div class="card">
					<div class="card-header">
						<h5 class="card-title mb-0">Profile Settings</h5>
					</div>

					<div class="list-group list-group-flush" role="tablist">
						<a class="list-group-item list-group-item-action active" data-toggle="list" href="#account"
							role="tab">
							Account
						</a>
						<a class="list-group-item list-group-item-action" data-toggle="list" href="#password"
							role="tab">
							Password
						</a>
						<a class="list-group-item list-group-item-action" data-toggle="list" href="#Delete_account"
							role="tab">
							Delete account
						</a>
					</div>
				</div>
			</div>

			<div class="col-md-9 col-xl-10">
				<div class="tab-content">
					<div class="tab-pane fade show active" id="account" role="tabpanel">

						<div class="card">
							<div class="card-header">

								<h5 class="card-title mb-0">세부정보</h5>
							</div>
							<div class="card-body">
								<form method="post" action='/CRM/settings/info/'>
									{% csrf_token %}
									<div class="row">
										<div class="col-md-8">
											<div class="row">

												<div class="mb-3 col-md-6">
													<span class="align-middle mr-2" data-feather="user"></span>
													<label class="form-label" for="inputName">성명
													</label>
													<p>{{ request.session.name }}</p>

												</div>
												<div class="mb-3 col-md-6">
													<span data-feather="calendar" class="align-middle mr-2"></span>
													<label class="form-label" for="inputBirth">생년월일</label>
													<p>{{ request.session.birth }}</p>
												</div>
											</div>
											<div class="row">
												<div class="mb-3 col-md-6">
													<span data-feather="mail" class="align-middle mr-2"></span>
													<label class="form-label" for="inputEmail">이메일</label>
													<p>{{ request.session.email }}</p>
												</div>
												<div class="mb-3 col-md-6">
													<span data-feather="phone" class="align-middle mr-2"></span>
													<label class="form-label" for="inputPhonenumber" >전화 번호</label>
													<input type="tel" class="form-control" name="inputPhonenumber"
														id="inputPhonenumber"
														value="{{ request.session.phone_number }}">
												</div>
											</div>
											<div class="mb-3">
												<label class="form-label" for="inputAddress">주소</label>
												<input type="text" class="form-control" name="inputAddress"
													id="inputAddress" value="{{ request.session.address }}">
											</div>
											<div class="row">
												<div class="mb-3 col-md-4">
													<span data-feather="award" class="align-middle mr-2"></span>
													<label class="form-label" for="inputUniv">학교</label>
													<input type="text" class="form-control" name="inputUniv"
														id="inputUniv" value="{{ request.session.university }}">
												</div>
												<div class="mb-3 col-md-4">
													<span data-feather="book-open" class="align-middle mr-2"></span>
													<label class="form-label" for="inputMajor">전공</label>
													<input type="text" class="form-control" name="inputMajor"
														id="inputMajor" value="{{ request.session.major }}">
												</div>
												<div class="mb-3 col-md-4">
													<span data-feather="monitor" class="align-middle mr-2"></span>
													<label class="form-label" for="inputLanguage">사용 가능 언어</label>
													<input type="text" class="form-control" name="inputLanguage"
														id="inputLanguage"
														value="{{ request.session.interest_language }}">
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="text-center">
												<img alt="Charles Hall"
													src ="../../static/img/avatars/{{ request.session.email }}.jpg"
													class="rounded mr-2 mb-2" width="128" height="128" />
											</div>
										</div>
									</div>
									<button type="submit" class="btn btn-primary" href="/CRM/settings/">변경 및 저장</button>
								</form>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="password" role="tabpanel">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">비밀번호</h5>

								<form method="post" action='/CRM/settings/password/'>
									{% if messages %}
									{% for message in messages %}
									<div class="row" style="margin:20px auto;">
										<div class="col-sm-12">
											<div class="alert alert-danger">
												<strong>{{ message.tags }}!</strong> {{ message.message }}
											</div>
										</div>
									</div>
									{% endfor %}
									{% endif %}
									{% csrf_token %}
									<div class="mb-3">
										<label class="form-label" for="password">현재
											비밀번호</label>
										<input type="password" class="form-control" name="password" id="password">
										
									</div>
									<div class="mb-3">
										<label class="form-label" for="password1">새
											비밀번호</label>
										<input type="password" class="form-control" name="password1" id="password1">
									</div>
									<div class="mb-3">
										<label class="form-label" for="password2">새
											비밀번호 확인</label>
										<input type="password" class="form-control" name="password2" id="password2">
									</div>
									<button type="submit" class="btn btn-primary" href="/CRM/settings/">변경 및
										저장</button>
								</form>

							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="Delete_account" role="tabpanel">

						<form method="post" action='/CRM/settings/delete/' onsubmit='return check();'>
							{% csrf_token %}
							<div class="col-12 col-lg-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">계정 삭제</h5>
										<h6 class="card-subtitle text-muted">계정을 정말 삭제하시겠습니까?</h6>
									</div>
									<div class="card-body text-center">
										<div class="mb-3">
											<button class="btn btn-danger"><i class="fas fa-times"></i> 계정삭제</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<onsubmit='return check();'>
	</div>
</main>
<script>
	function check() {
		const isDel = confirm('삭제 하시겠습니까?')
		return isDel;
	}
</script>

{% endblock %}