{% extends 'brand/include/base_b.html' %}
{% load static %}
{% block content %}

    <div class="all-title-box">
		<div class="container text-center">
			<h1>비밀번호 찾기<span class="m_1">비밀번호를 잊으셨나요?</span></h1>
		</div>
	</div>

    <div id="domain" class="section wb">
        <div class="container-fulid">
        <form method="post" action='BRAND:find_password' >
        {% csrf_token %}
            <div class="section-title text-center">
                {% if messages %}
                {% for message in messages %}
                    <div class="col-sm-12">
                        <h3 class="alert alert-danger">
                            <strong>{{ message.tags }}!</strong> {{ message.message }}
                        </h3>
                    </div>
                {% endfor %}
                {% endif %}
            </div><!-- end title -->
                <div id="domain" class="section wb">
                        <div class="container">
                            <div class="row text-center">
                                <div class="col-lg-12">
                                    <form class="checkdomain form-inline">
                                        <div class="checkdomain-wrapper">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="email" name="email" placeholder="email">
                                                <input type="text" class="form-control" id="name" name="name" placeholder="name">
                                                <input type="tel" class="form-control" id="phone_number" name="phone_number" placeholder="phone_number">
                                                
                                            </div>
                                            <div class="customwidget text-center">
                                                <a type="submit" class="hover-btn-new" href="{% url 'BRAND:find_password' %}"><span>비밀번호 찾기</span></a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                </div>



        </form>
        </div><!-- end container -->
    </div><!-- end section -->

    


{% endblock %}